In [1]:
import pandas as pd
import glob
import csv
import os
import sys
from contextlib import contextmanager
import re
import numpy as np

In [12]:
script_path = os.getcwd()
file_path = r".\Data"
extension = "csv"

print(os.getcwd())

C:\Users\matti\MAIniacs

In [3]:
# Setting up a context manager in order to change to the data folder, create a dictionary of dataframes from all the csv files in the folder
# and then returning to the original folder.

@contextmanager
def gen_list(file_path, extension):
    f = os.chdir(file_path)
    yield f
    os.chdir(script_path)
    
with gen_list(file_path, extension) as f:
    csv_list = glob.glob(r"*{}".format(extension))
    dataframe_names = []
    df_dict = {}
    iterator = 0
    for i in csv_list:
        dataframe_names.append(i[:-4].replace(".", "_")) # Saves the names of the csv files minus .csv and also changes the periods in the name to underscores.
    for j in dataframe_names:
        df_dict[j] = pd.read_csv(csv_list[iterator], sep=None, engine="python") # Key is the name of the csv file formatted as above.
        iterator += 1

# Saves the column names of processed_cleveland and sets the other datasets column names to the same.     

column_names = list(df_dict["processed_cleveland"].columns)

for df, names in df_dict.items():
    names.columns = column_names
    
# Function to set the dtypes as specified in the earlier lists. The function increases the amount of null values for some reason,
# most probably cause by the to_numeric function's errors parameter. TODO: Find out which values is changing to nulls.

def set_dtypes(df_dict):
    for df, name in df_dict.items():
        for column in name.columns:
            if column in categorical_features:
                name[column] = name[column].astype("category", copy=False)
            elif column in boolean_features:
                name[column] = name[column].astype("Int64", copy=False)
            elif column in float_features:
                name[column] = pd.to_numeric(name[column], downcast="float", errors="coerce")
            elif column in integer_features:
                name[column] = pd.to_numeric(name[column], downcast="float", errors="coerce")
                name[column] = name[column].astype("Int64", copy=False)
    return df_dict

In [4]:
print(df_dict.keys())

dict_keys(['processed_cleveland', 'processed_hungarian', 'processed_switzerland', 'processed_va'])

In [5]:
# Imputing nulls instead of "?" for all dataframes in the dictionary.
# TODO: print name of the dataframe before isnull list.

for name in df_dict.keys():
    print(name)
    print(df_dict[name].isnull().sum().sum())

processed_cleveland
0
processed_hungarian
0
processed_switzerland
0
processed_va
0

In [6]:
for name in df_dict:
    df_dict[name].replace(to_replace="?", value=np.nan, inplace=True)

for name in df_dict:
    print(name)
    print(df_dict[name].isnull().sum().sum())

processed_cleveland
6
processed_hungarian
782
processed_switzerland
273
processed_va
698

In [7]:
for df, name in df_dict.items():
    print(df)
    for i in name.columns:
        print(i)
        print(name[i].unique())

processed_cleveland
age
[63. 67. 37. 41. 56. 62. 57. 53. 44. 52. 48. 54. 49. 64. 58. 60. 50. 66.
 43. 40. 69. 59. 42. 55. 61. 65. 71. 51. 46. 45. 39. 68. 47. 34. 35. 29.
 70. 77. 38. 74. 76.]
sex
[1. 0.]
cp
[1. 4. 3. 2.]
trestbps
[145. 160. 120. 130. 140. 172. 150. 110. 132. 117. 135. 112. 105. 124.
 125. 142. 128. 170. 155. 104. 180. 138. 108. 134. 122. 115. 118. 100.
 200.  94. 165. 102. 152. 101. 126. 174. 148. 178. 158. 192. 129. 144.
 123. 136. 146. 106. 156. 154. 114. 164.]
chol
[233. 286. 229. 250. 204. 236. 268. 354. 254. 203. 192. 294. 256. 263.
 199. 168. 239. 275. 266. 211. 283. 284. 224. 206. 219. 340. 226. 247.
 167. 230. 335. 234. 177. 276. 353. 243. 225. 302. 212. 330. 175. 417.
 197. 198. 290. 253. 172. 273. 213. 305. 216. 304. 188. 282. 185. 232.
 326. 231. 269. 267. 248. 360. 258. 308. 245. 270. 208. 264. 321. 274.
 325. 235. 257. 164. 141. 252. 255. 201. 222. 260. 182. 303. 265. 309.
 307. 249. 186. 341. 183. 407. 217. 288. 220. 209. 227. 261. 174. 281.
 221. 205. 240. 289. 318. 298. 564. 246. 322. 299. 300. 293. 277. 214.
 207. 223. 160. 394. 184. 315. 409. 244. 195. 196. 126. 313. 259. 200.
 262. 215. 228. 193. 271. 210. 327. 149. 295. 306. 178. 237. 218. 242.
 319. 166. 180. 311. 278. 342. 169. 187. 157. 176. 241. 131.]
fbs
[1. 0.]
restecg
[2. 0. 1.]
thalach
[150. 108. 129. 187. 172. 178. 160. 163. 147. 155. 148. 153. 142. 173.
 162. 174. 168. 139. 171. 144. 132. 158. 114. 151. 161. 179. 120. 112.
 137. 157. 169. 165. 123. 128. 152. 140. 188. 109. 125. 131. 170. 113.
  99. 177. 141. 180. 111. 143. 182. 156. 115. 149. 145. 146. 175. 186.
 185. 159. 130. 190. 136.  97. 127. 154. 133. 126. 202. 103. 166. 164.
 184. 124. 122.  96. 138.  88. 105. 194. 195. 106. 167.  95. 192. 117.
 121. 116.  71. 118. 181. 134.  90.]
exang
[0. 1.]
oldpeak
[2.3 1.5 2.6 3.5 1.4 0.8 3.6 0.6 3.1 0.4 1.3 0.  0.5 1.6 1.  1.2 0.2 1.8
 3.2 2.4 2.  2.5 2.2 2.8 3.  3.4 6.2 4.  5.6 2.9 0.1 2.1 1.9 4.2 0.9 1.1
 3.8 0.7 0.3 4.4]
slope
[3. 2. 1.]
ca
['0.0' '3.0' '2.0' '1.0' nan]
thal
['6.0' '3.0' '7.0' nan]
num
[0 2 1 3 4]
processed_hungarian
age
[28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51
 52 53 54 55 56 57 58 59 60 61 62 63 65 66]
sex
[1 0]
cp
[2 1 3 4]
trestbps
['130' '120' '140' '170' '100' '105' '110' '125' '150' '98' '112' '145'
 '190' '160' '115' '142' '180' '132' '135' nan '108' '124' '113' '122'
 '92' '118' '106' '200' '138' '136' '128' '155']
chol
['132' '243' nan '237' '219' '198' '225' '254' '298' '161' '214' '220'
 '160' '167' '308' '264' '166' '340' '209' '260' '211' '173' '283' '194'
 '223' '315' '275' '297' '292' '182' '200' '204' '241' '339' '147' '273'
 '307' '289' '215' '281' '250' '184' '245' '291' '295' '269' '196' '268'
 '228' '358' '201' '249' '266' '186' '207' '218' '412' '224' '238' '230'
 '163' '240' '280' '257' '263' '276' '284' '195' '227' '253' '187' '202'
 '328' '168' '216' '129' '190' '188' '179' '210' '272' '180' '100' '259'
 '468' '274' '320' '221' '309' '312' '171' '208' '246' '305' '217' '365'
 '344' '394' '256' '326' '277' '270' '229' '85' '347' '251' '222' '287'
 '318' '213' '294' '193' '271' '156' '267' '282' '117' '466' '247' '226'
 '265' '206' '288' '303' '338' '248' '306' '529' '392' '231' '329' '355'
 '233' '242' '603' '255' '172' '175' '290' '341' '234' '342' '404' '518'
 '285' '279' '388' '164' '336' '491' '205' '212' '331' '393']
fbs
['0' nan '1']
restecg
['2' '0' '1' nan]
thalach
['185' '160' '170' '150' '165' '184' '155' '190' '168' '180' '178' '172'
 '130' '142' '98' '158' '129' '146' '145' '120' '106' '132' '140' '138'
 '167' '188' '144' '137' '136' '152' '175' '176' '118' '154' '115' '135'
 '122' '110' '90' '116' '174' '125' nan '148' '100' '164' '139' '127'
 '162' '112' '134' '114' '128' '126' '124' '153' '166' '103' '156' '87'
 '102' '92' '99' '121' '91' '108' '96' '82' '105' '143' '119' '94']
exang
['0' '1' nan]
oldpeak
[0.  1.  2.  1.5 0.5 3.  0.8 2.5 4.  5. ]
slope
[nan '2' '1' '3']
ca
[nan '0']
thal
[nan '6' '3' '7']
num
[0 1]
processed_switzerland
age
[32 34 35 36 38 40 41 42 43 45 46 47 48 50 51 52 53 54 55 56 57 58 59 60
 61 62 63 64 65 66 67 68 69 70 72 73 74]
sex
[1 0]
cp
[1 4 3 2]
trestbps
['95' '115' nan '110' '105' '100' '135' '150' '125' '145' '140' '155'
 '160' '120' '130' '165' '80' '180' '170' '200' '185']
chol
[0]
fbs
[nan '0' '1']
restecg
['0' nan '1' '2']
thalach
['127' '154' '130' '125' '166' '156' '179' '128' '150' '120' '144' '176'
 '99' '122' '145' '140' '138' '133' '113' '118' '149' '124' '110' '139'
 '92' '104' '170' '163' '60' '126' '82' '95' '115' '135' '141' '155' '83'
 '97' '98' '100' '148' '103' '121' '131' '182' '105' '175' '94' '119'
 '143' '63' '70' '77' '117' '123' '134' '72' '78' '109' '86' '114' '93'
 '67' '90' '108' '136' nan '157']
exang
['0' '1' nan]
oldpeak
['.7' '.2' nan '1' '2.8' '0' '-1.1' '1.6' '-1.5' '1.5' '2' '.5' '-.1'
 '-2.6' '2.1' '-.7' '2.2' '3' '.1' '.3' '-2' '-1' '1.8' '1.4' '2.6' '.9'
 '2.4' '1.1' '.4' '2.5' '1.7' '-.8' '-.5' '-.9' '3.7' '1.3']
slope
['1' nan '2' '3']
ca
[nan '1' '2']
thal
[nan '7' '6' '3']
num
[1 3 2 0 4]
processed_va
age
[63 44 60 55 66 65 56 59 62 57 46 58 64 74 52 69 51 54 77 61 40 41 42 53
 68 67 72 75 49 35 43 48 50 45 76 70 71 38 37]
sex
[1 0]
cp
[4 3 2 1]
trestbps
['140' '130' '132' '142' '110' '120' '150' '180' '160' '126' nan '128'
 '170' '152' '116' '124' '0' '122' '144' '154' '125' '104' '136' '134'
 '138' '178' '146' '135' '158' '106' '112' '102' '96' '172' '155' '156'
 '118' '100' '190' '114' '127']
chol
['260' '209' '218' '228' '213' '0' '236' '267' '166' '220' '177' '186'
 '100' '171' '230' '281' '203' '277' '233' '240' '153' '224' '316' '311'
 '270' '217' '214' '252' '339' '216' '276' '458' '241' '384' '297' '248'
 '308' '208' '227' '210' '245' '225' '198' '195' '161' '258' '235' '305'
 '223' '282' '349' nan '160' '312' '283' '142' '211' '306' '222' '202'
 '197' '204' '274' '192' '298' '272' '200' '261' '181' '221' '175' '219'
 '310' '232' '273' '182' '292' '289' '193' '170' '369' '173' '271' '244'
 '285' '243' '237' '165' '287' '256' '264' '226' '207' '284' '337' '254'
 '300' '333' '139' '385']
fbs
['0' '1' nan]
restecg
[1 2 0]
thalach
['112' '127' '140' '149' '99' '120' '105' '141' '157' '117' nan '148' '86'
 '84' '125' '118' '124' '106' '111' '180' '129' '110' '155' '122' '133'
 '131' '80' '165' '107' '128' '160' '97' '161' '130' '108' '123' '144'
 '102' '145' '69' '138' '150' '88' '132' '121' '135' '100' '162' '73'
 '154' '115' '119' '159' '94' '113' '98' '96' '151' '126' '93']
exang
['1' '0' nan]
oldpeak
['3' '0' '1.5' '2.5' '1.3' '-0.5' '2' '0.5' '1' nan '1.6' '4' '3.5' '0.8'
 '1.7']
slope
['2' nan '3' '1']
ca
[nan '0']
thal
[nan '3' '7' '6']
num
[2 0 1 3 4]

In [8]:
for df, name in df_dict.items():
    print(df)
    print(name.isnull().sum().sum())

processed_cleveland
6
processed_hungarian
782
processed_switzerland
273
processed_va
698

In [9]:
df_dict = set_dtypes(df_dict)

In [13]:
for df, name in df_dict.items():
    print(df)
    print(name.isnull().sum().sum())

processed_cleveland
6
processed_hungarian
782
processed_switzerland
273
processed_va
698

In [14]:
for df, names in df_dict.items():
    print(names.dtypes)

age            Int64
sex         category
cp          category
trestbps       Int64
chol           Int64
fbs            Int64
restecg     category
thalach        Int64
exang          Int64
oldpeak      float32
slope       category
ca             Int64
thal        category
num            int64
dtype: object
age            Int64
sex         category
cp          category
trestbps       Int64
chol           Int64
fbs            Int64
restecg     category
thalach        Int64
exang          Int64
oldpeak      float32
slope       category
ca             Int64
thal        category
num            int64
dtype: object
age            Int64
sex         category
cp          category
trestbps       Int64
chol           Int64
fbs            Int64
restecg     category
thalach        Int64
exang          Int64
oldpeak      float32
slope       category
ca             Int64
thal        category
num            int64
dtype: object
age            Int64
sex         category
cp          category
trestbps       Int64
chol           Int64
fbs            Int64
restecg     category
thalach        Int64
exang          Int64
oldpeak      float32
slope       category
ca             Int64
thal        category
num            int64
dtype: object

In [11]:
with gen_list(file_path, extension) as f:
    for df, name in df_dict.items():
        name.to_csv( f"./Cleaned data/cleaned_{df}.csv", header=name.columns, index=False)